/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

h2 {
    font-weight: 700;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0.5rem 0;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar img {
    height: 2.5rem;
    margin-right: 0.5rem;
}

.navbar div {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar span {
    color: #6aa8ff;
}

/* Main Container */
.container {
    padding: 1.5rem;
    padding-top: 5.5rem;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    flex-wrap: wrap;
}

/* Card Styling */
.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* The first two cards will be side-by-side with a 40/60 split */
.fetch-songs {
    flex: 2;
    position: relative;
    overflow: hidden;
}

.lyrics-card {
    flex: 3;
    position: relative;
    overflow: hidden;
}

/* The third card will be full width at the bottom */
.card-preview {
    width: 100%;
}

/* Form Elements */
.search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-song {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.search-song:focus {
    outline: none;
    border-color: #6aa8ff;
}

.search-song-btn {
    padding: 0.6rem 1rem;
    background-color: #6aa8ff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-song-btn:hover {
    background-color: #5596e3;
}

.search-song-btn img {
    height: 1.5rem;
}

.song-result {
    margin-top: 1rem;
    height: calc(100% - 7rem);
    /* Adjusted to take up remaining space */
    overflow-y: auto;
}

/* Song Card Styling */
.song-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.song-card:hover {
    background-color: #ebebeb;
}

.song-card img {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.song-details {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.song-details h3 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-details p {
    font-size: 0.8rem;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.lyric-of-song {
    height: calc(100% - 10rem);
    /* Adjusted to take up remaining space */
    overflow-y: auto;
    margin-top: 10px;
}

.lyric-of-song p {
    cursor: pointer;
    line-height: 1.6;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.3rem;
    white-space: pre-wrap;
    border-radius: 0.3rem;
    background-color: #f0f0f078;
}

.lyric-of-song p:hover {
    background-color: #f0f0f0;
}

.lyric-of-song p.selected-lyrics {
    background-color: #d0e7ff;
}

.clicked-song-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
}

.create-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #6aa8ff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.create-card:hover {
    background-color: #5596e3;
    color: black;
}

.create-card h2 {
    font-size: 1rem;
}

.create-card img {
    height: 1.5rem;
}

/* Card Preview & Customization */
.lyric-jpg-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    /* padding-bottom: 3rem; */
    height: 100%;
}

.card-jpg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.card-jpg {
    min-width: 350px;
    height: 500px;
    aspect-ratio: 3/4;
    background-color: #6aa8ff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: relative;
    overflow-y: hidden;
    user-select: none;
}

.song-name-artist {
    display: flex;
    align-items: center;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1rem;
}

.song-name-artist h3 {
    font-size: 1.2rem;
    color: black;
}

.song-name-artist img {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.final-lyric {
    white-space: wrap;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    overflow: hidden;
    height: calc(100% - 4rem);
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.signature-logo {
    font-size: 0.7rem;
    color: #fff;
    opacity: 0.8;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.customize-bar {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    border-radius: 0.7rem;
}

.customize-bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #59595988;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    border-radius: 0.7rem;
    width: 40%;
}

.customize-bar input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.customize-bar input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.customize-bar input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.customize-bar input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 0.5rem;
    cursor: pointer;
}

.customize-bar label {
    font-size: 14px;
    margin-top: 5px;
}

.customize-bar button {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.customize-bar button:hover {
    background-color: #ddd;
}

#lyric-font-style {
    padding: 8px;
    border-radius: 6px;
}

#download-card,
#share-card {
    background-color: #6aa8ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.download-card img,
.share-card img {
    vertical-align: middle;
    margin-left: 5px;
    display: inline-block;
    filter: invert(1);
}

.download-card:hover,
.share-card:hover {
    background-color: #5596e3;
}

.download-card img,
.share-card img {
    height: 20px;
}

/* Notification */
.notification {
    position: fixed;
    top: 60px;
    background-color: hsla(0, 0%, 20%, 0.638);
    transform: translateX(-110%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 0.5rem;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
}

.notification span {
    display: inline-block;
    animation: shake 1s ease-in-out infinite;
    margin-right: 5px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 0.5rem;
    }

    .card,
    .fetch-songs,
    .lyrics-card,
    .card-preview {
        flex: 1 1 100%;
        max-width: 100%;
        min-height: auto;
    }

    .clicked-song-details {
        align-items: flex-end;
    }

    .clicked-song-details .create-card {
        margin-bottom: 0.5rem;
    }

    .card-preview {
        height: fit-content;
    }

    .lyric-jpg-container {
        flex-direction: column;
        height: fit-content;
        gap: 0.5rem;
        border-radius: 0.7rem;
    }

    .card-jpg-container,
    .customize-bar {
        width: 100%;
    }
}

@media (max-width : 426px) {
    .clicked-song-details {
        flex-direction: column;
        align-items: center;
    }

    .clicked-song-details .song-card {
        width: 100%;
    }

    .clicked-song-details .create-card {
        width: 50%;
        align-self: flex-end;
    }

    #download-card,
    #share-card {
        width: 90%;
    }
}

.hide-div {
    display: none;
}

.hidden {
    opacity: 0;
    transform: translateX(-110%);
}

.visible {
    display: block;
    opacity: 1;
    transform: translateX(10%);
}

.italic-text{
    font-style: italic;
}

.bold-text{
    font-weight: bold;
}